*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{     font-size: 3.5em; }

h2{     font-size: 2.7em; }

h3{     font-size: 2em; }

p{      margin: 0; }

ul{     list-style: none;}

li{     font-size: 1.25em;}

img{    width: 100%;}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 10 px rgb(255, 255, 255);;
    color: white;
    background-color: rgb(102, 102, 255);
}

button:hover{
    background-color: rgb(102, 102, 255);
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 25px 20px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;

}

header a:hover{
    color: rgb(102, 102, 255);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) ,url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero button{
    font-size: 1.75em;
}

#hero h1 {
    color: white;
}

#somos-ecoresort{

}

#somos-ecoresort .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-servicios{
    background-color: rgb(138, 162, 189);
    color: white;
    text-align: center;
}

#nuestros-servicios .container{
    padding: 150px 12px;
}

#nuestros-servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-servicios p{
    display: none;   
}

#nuestros-servicios .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/areas/a-img1.jpeg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/areas/a-img2.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/areas/a-img3.jpeg);
}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/areas/a-img4.jpeg);
}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(img/areas/a-img5.jpeg);
}

#reservas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(138, 162, 189);
    color: white;
    height: 80vh;

}


#reservas button{
    font-size: 1.75em;
}

@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-ecoresort .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-ecoresort .texto{
        width: 50%;
        text-align: initial;
        padding-left: 30px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-ecoresort h2{
        margin-top: 0px;
    }

    #somos-ecoresort .img-container{
        background-image: url("img/somos-img2.jpeg");
            background-size: cover;
            background-position: center center;
            height: 500px;
            width: 400px;
    }

    #nuestros-servicios .servicios{
        display: flex;
        justify-content: center;
    }

    #nuestros-servicios p{
        display: block;
        margin-bottom: 30px;
        align-content: center;
        
    }

    #nuestros-servicios .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
        
    }

    #nuestros-servicios h2 {
        font-size: 4em;
    }

    #nuestros-servicios h3{
        margin-top: 0;
    }

    #reservas h2{
        font-size: 5em;
    }

    #reservas button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }

    #galeria .container{
        text-align: center;
           
    }

    #galeria .container-galeria{
        justify-content: space-around;
    }

    #galeria .row{
        display: flex;
        padding: 5px;
        flex-wrap: wrap;
    }

    #galeria .colum{
        flex: 25%;
        padding: 5px;
    }

    #galeria .colum img{
        margin-top: 5px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        transition: 2s;
        position: relative;
        background: rgba(0,0,0,0.5);
    }

    #info .container{
        width: 100%;
        display: flex;
    }

    #info .datos{
        width: 100%;
        height: 25vh;
        text-align: center;
        background-color: rgb(249, 252, 252);
        margin: 5px
    }

    #info h4{
        font-size: 1.5em;
    }

    #info p{
        text-align: left;
        padding: 0;
        margin: 5px ;
    }

    #info .datos p span{
        color: blue;
        text-decoration: solid;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
}